# IMPORTANT: Not ready yet!

# For production settings this secret is required to be set. 
# The secret is beeing used for sessions, cookies, password-reset-tokens and other critical
# processes. Make sure not to share any production SECRET_KEY.
# Generate: https://djecrety.ir/
SECRET_KEY='django-insecure-0*r-9di3#yg%tj6cvybnk+ptelhu@iiebj7y9^b6f$+siumjm&'

DEBUG=True

WIPE_INTERVAL=5
ALERT_TIMEOUT=172800